<div class="row" *ngIf="payload">
  <ul class="list-group custom-card" style="overflow-y: scroll; height:570px;">
    <li class="list-group-item click" *ngFor="let i of keys">
      <div class="container" (click)="showDetails(payload.data[i])">
          <h5><img src="https://s2.coinmarketcap.com/static/img/coins/32x32/{{payload.data[i].id}}.png" class="img-fluid" height="32" width="32">&nbsp;&nbsp;<strong>{{ payload.data[i].name }}</strong></h5>
        <p>$ {{ payload.data[i].quotes.USD.price }} <span [ngClass]="getClass(payload.data[i].quotes.USD.percent_change_24h)">({{ payload.data[i].quotes.USD.percent_change_24h }} %) <i class="fa {{icon}}"></i></span></p>
      </div>
    </li>
  </ul>
</div>
